<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script language="javascript" type="text/javascript" src="/static/flot/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="/static/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="/static/flot/jquery.flot.crosshair.js"></script>
    <script language="javascript" type="text/javascript" src="/static/flot/jquery.flot.time.js"></script>

    <script type="text/javascript">

        $(function() {


		plot = $.plot("#tempgraph", [
		], {
			series: {
				lines: {
					show: true
				}
			},
			crosshair: {
				mode: "x"
			},
			grid: {
				hoverable: true,
				autoHighlight: false
			},
            xaxis: {
                mode : 'time',
                minTickSize: [30, "second"],
            },
            legend: {
                position: 'sw'
            }
		});

		var updateLegendTimeout = null;
		var latestPosition = null;

		function updateLegend() {

			updateLegendTimeout = null;

			var pos = latestPosition;
            if (pos == null) {
                return
            }

			var axes = plot.getAxes();
			if (pos.x < axes.xaxis.min || pos.x > axes.xaxis.max ||
				pos.y < axes.yaxis.min || pos.y > axes.yaxis.max) {
				return;
			}
			var i, j, dataset = plot.getData();
            var legends = $("#tempgraph .legendLabel");


			for (i = 0; i < dataset.length; ++i) {

				var series = dataset[i];
                if (!series) { continue }
                if (series.label.indexOf('=') < 0) { continue }

                // Find the nearest points, x-wise

                for (j = 0; j < series.data.length; ++j) {
                    if (series.data[j][0] < pos.x) {
                        break;
                    }
                }

				// Now Interpolate

				var y,
					p1 = series.data[j - 1],
					p2 = series.data[j];

				if (p1 == null) {
					y = p2[1];
				} else if (p2 == null) {
					y = p1[1];
				} else {
					y = p1[1] + (p2[1] - p1[1]) * (pos.x - p1[0]) / (p2[0] - p1[0]);
				}

				legends.eq(i).text(series.label.replace(/=.*/, "= " + y.toFixed(2)));
			}
		}

		$("#tempgraph").bind("plothover",  function (event, pos, item) {
			latestPosition = pos;
			if (!updateLegendTimeout) {
				updateLegendTimeout = setTimeout(updateLegend, 50);
			}
		});


        function updateData(payload) {
                plot.setData( payload['data'] )

                plot.setupGrid()
                plot.draw()
                updateLegend()
                setTimeout(refreshData, 5000)
        }
        function refreshData() {
             $.ajax({ url: '{% url 'graphdata' %}?goback=' + $('#goback').val(),
                      success: updateData})
        }
        refreshData()


	});


    </script>
    <style>

.tempgraph-container {
	box-sizing: border-box;
	width: 850px;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.tempgraph {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

    </style>
</head>
<body>

<div class="tempgraph-container">
    <div id="tempgraph" class="tempgraph"></div>
</div>

How many steps to go back?
<input type="text" name="goback" id="goback" value="200" />

<br />

{% for instrument in instruments %}
<h3>{{ instrument.instrumentname }}</h3>
<a href="/tempgraph/?on={{ instrument.id }} ">On</a><br />
<a href="/tempgraph/?off={{ instrument.id }} ">Off</a><br />
<br />
{% endfor %} 


</body>
</html>
